/* Plugin Settings */
#showData{font-size:13px}
td{padding-right:7px}
.color-picker{display:flex;flex-direction:row;justify-content:space-between;width:100%;max-width:400px;min-width:300px;margin:.8em auto}
.color-picker .active{transform:scale(1.1)}
.color-picker div{position:relative;height:1em;width:6em;border-radius:.5em;cursor:pointer;box-shadow:1px 2px 3px rgba(0,0,0,0.2)}
.color-picker div:nth-child(1){background-color:#edeff4}
.color-picker div:nth-child(2){background-color:#262e3e}
.color-picker div:nth-child(3){background-color:#323846}
.table-container{position:relative;width:100%;margin:0 auto 5em;color:#ccd1dd}
.table-container.one{color:#262e3e}
.table-container .inner{background-color:#3b414e;overflow:hidden;box-shadow:1px 2px 2px rgba(0,0,0,0.2)}
.table-container .inner h1{text-align:center;color:#adb8ce}
.table-container table{table-layout:fixed;border-collapse:collapse;width:100%;text-align:left;background-color:#3b414e;overflow:hidden}
.table-container table tbody,.table-container table thead{padding:0 1em}
.table-container table tr:not(:last-child){border-bottom:1px solid #464c59}
.table-container tbody tr:hover{background-color:rgba(255,255,255,0.1)}
.table-container thead tr{border-bottom:1px solid #464c59}
.table-container thead th{padding:4em 1em 1em}
.table-container th,.table-container td{padding:.6em 1em;word-break:break-all}
.table-container.one tr:not(:last-child){border-bottom:1px solid rgba(255,255,255,0.15)}
.table-container.one thead tr{border-bottom:1px solid rgba(255,255,255,0.15)}
::-moz-selection{color:#fff;background-color:rgba(255,255,255,0.1)}
::selection{color:#fff;background-color:rgba(255,255,255,0.1)}
#wpcontent{padding-left:0px!important}
#wpbody{background:#3B414E}
@media screen and (max-width:800px) {
#showData{font-size:19px;line-height:19px}
table{width:98%;max-width:100%;background-color:#fff}
table > tbody > tr:first-child{display:none}
table > tbody > tr > td:first-child{font-weight:700}
table > tbody > tr{display:block;border-bottom:2px solid #e0e0e0;margin-bottom:1.5rem;padding-bottom:.5rem}
table > tbody > tr > td{display:block;padding-bottom:1rem;text-align:left;line-height:1rem}
}